<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Título</th>
                <th>Tomatos</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="atividade: ${atividades}" th:object=${atividade}>
              <td><a th:href="@{./editar/{id}(id=*{id})}" th:text="*{id}"></a></td>
                <td th:text=*{titulo}></td>
                <td th:text=*{tomatoes}></td>
                <td><a th:href="@{./excluir/{id}(id=*{id})}">X</a></td>
            </tr>
        </tbody>
    </table>
 
 </body> 
</html>